<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

  <style>
  #board {
    width: 100%;
    height: 600px;
    background-color: #DDD;
  }
  .node {
    float: left;
    margin: 5px;
    height: 30px;
    border: 1px solid grey;
    background-color: #f2e088;
  }
  </style>
</head>

<body>
<div id="setUser">
  <div class="title">Set user</div>
  <span class="label">Name</span> <input id="uname" type="text" name="uname" />
  <span class="label">UUID</span> <input id="uuid" type="text" name="uuid" />
  <input type="button" value="OK" onclick="void(setUser());" />
</div>
<div id="setContext">
  <div class="title">Enter context</div>
  <!-- Creating -->
  <span class="label">Title</span> <input id="cname" type="text" name="cname" />
  <span class="label">UUID</span> <input id="cuuid" type="text" name="cuuid" />

  <!-- Should probably be a select list -->
  <span class="label">Theme</span> <input id="ctheme" type="text" name="ctheme" />
</div>
<div id="context">
  <div class="title">Context</div>
  <span id="debug">...</span>
  <div id="toolbar">This is toolbar div <a href="#" onclick="void(addBlankNode());">New note</a></div>
  <div id="board">This is the board div</div>
  <div id="trash">This is the trash div</div>
</div>

<script type="text/javascript">
  // Move this to separate file
  // TODO: this function is not stable, 15 or 16 chars
  //var uniqueId = Math.random().toString(36).substring(2)
  //             + (new Date()).getTime().toString(36).substring(3, 11);
  //$('#uuid').val(uniqueId);

  gNodeData = new Array();

  $.urlParam = function (name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                        .exec(window.location.search);
      return (results !== null) ? results[1] || 0 : false;
  }

  function setView(view) {
    views = new Array("setUser", "setContext", "context");

    for(i = 0; i < views.length; i++) {
      v = views[i];
      $("#" + v).hide();
    }

    $("#" + view).show();
    // TODO:
    //
    //
  }

  function setUser() {
    name = $('#uname').val().trim();
    key = $('#uuid').val().trim();

    if(name != "" && key != "") {
      localStorage.setItem("user.name", name);
      localStorage.setItem("user.key", key);
      setView("setContext");

      return true;
    }

    return false;
  }

  function loadAndValidateUser() {
    name = localStorage.getItem("user.name");
    key =  localStorage.getItem("user.key");

    if(name && key && name != "" && key != "")
      return true;

    return false;
  }

  function getUserKey() {
    return localStorage.getItem("user.key");
  }

  function getPid() {
    return $.urlParam('c')
  }

  function getCtxKey() {
    return $.urlParam('k')
  }

  function hasContextKey() {
    ctx = $.urlParam('c');
    key = $.urlParam('k');

    return (key != false && ctx != false);
  }


  function loadContext() {
    ctx = $.urlParam('c');
    key = $.urlParam('k');

    $.ajax({
      url: '/retro/node/' + ctx + '?s=' + key,
      dataType: 'json',
      cache: false
    }).done(function(data){
      res = data['result'];
      if(res == 200) {
        // Validate board
        // TODO: are we admin - do we have admins? (MVP)
        $("#debug").text(JSON.stringify(data['json']));

        // TODO: Load the elements
        loadContextChildren(ctx, key);

        setView('context');
        //tick();
      }
      else {
        console.log('Error in loadContext');
        console.log(data);
      }
    });
  }

  function loadContextChildren(ctx, key) {
    $.ajax({
      url: '/retro/node/' + ctx + '/children?s=' + key,
      dataType: 'json',
      cache: false
    }).done(function(data){
      res = data['result'];
      if(res == 200) {
        cList = data['json'];
        //console.log(cList);
        for(i = 0; i < cList.length; i++) {
          createOrUpdateNode(cList[i]['id'], cList[i])
        }
      }
      else {
        console.log('Error in loadContextChildren');
        console.log(data);
      }
    });
  }

  function createOrUpdateNode(id, json) {
    if(id in gNodeData) {
      // UPDATE, TODO: check what has changed, poor implementation now
      changes = nodeChangeType(id, json);
      console.log("changes");
      console.log(changes);
      for(i = 0; i < changes.length; i++) {
        console.log("change " + i + " " + changes[i]);
        if(changes[i] == "pos") {
          console.log(json['json']['pos']);
          //$('#node_' + id).animate({
          //  'top': (json['json']['pos']).top,
          //  'left': (json['json']['pos']).left
          //}, 200);
          $('#node_' + id).offset(json['json']['pos']);
          console.log(id + " pos changed, FROM: " + JSON.stringify(gNodeData[id]['json']['pos']) + " TO:" + JSON.stringify(json['json']['pos']));
          gNodeData[id]['json']['pos'] = json['json']['pos'];
        }
        if(changes[i] == "text") {
          console.log(id + " text changed, FROM:" + gNodeData[id]['json']['text'] + " TO:" + json['json']['text']);
          $('#node_' + id).text(json['json']['text']);
          gNodeData[id]['json']['text'] = json['json']['text'];
        }
      }
    }
    else {
      console.log("new");
      gNodeData[id] = json;
      drawNode(json);
    }
  }

  function nodeChangeType(id, newJson) {
    changes = new Array();
    oldJson = gNodeData[id];
    //if(oldJson['type'] != newJson['type'])
    //  changes.push("type");
    if(parseInt(oldJson["json"]['pos'].left) != parseInt(newJson["json"]['pos'].left))
      changes.push("pos");
      if(parseInt(oldJson["json"]['pos'].top) != parseInt(newJson["json"]['pos'].top))
        changes.push("pos");
    if(oldJson["json"]['text'].trim().localeCompare(newJson["json"]['text'].trim()) != 0)
        changes.push("text");

    return changes;
  }

  function addBlankNode() {
    $.ajax({
      type: "POST",
      url: "/retro/node/0?s=" + getCtxKey(),
      data: JSON.stringify({'pid': getPid(), 'type': 'note', 'json': {}}),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        console.log(data);
      },
      failure: function(errMsg) {
          alert(errMsg);
          console.log(errMsg);
      }
    });
  }

  function drawNode(json) {
    id = ("id" in json ? json["id"] : "0");
    nClass = ("class" in json["json"] ? json["json"]["class"] : "node");
    text = ("text" in json["json"] ? json["json"]["text"] : "Write here...");
    pos = ("pos" in json["json"] ? json["json"]["pos"] : {left: 100, top: 100});

    $("#board").append("<div id=\"node_" + id + "\" class=\"" + nClass + "\" title=\"" + JSON.stringify(json) + "\" contenteditable=\"true\">" + text + "</div>");
    $("#node_" + id).offset(pos);

    $("#node_" + id).draggable({
      //grid: [10, 10],
      stop: function(event, ui) {
        //console.log("Dropped:" + ui.helper.position());
        cid = this.id.split("_")[1];

        pos = ui.helper.position();

        gNodeData[cid]["json"]["pos"] = {left: parseInt(pos.left), top: parseInt(pos.top)};
        storeNode(cid);

        // TODO: find the node, translate to real ID, store change, cleanup
        //gNodeData[id
        //storeNode

        //createOrUpdateNode
      }
    });
  }

  function storeNode(id) {
    node = $("#node_" + id);
    nClass = $(node).attr('class');
    text = $(node).text();
    created = getUserKey();
    pos = {left: parseInt($(node).offset().left), top: parseInt($(node).offset().top)};


    postJson = {'json': {'class': nClass, 'text': text, 'user': created, 'pos': pos}};

    $.ajax({
      type: "POST",
      url: "/retro/node/" + id + "?s=" + getCtxKey(),
      data: JSON.stringify(postJson),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        console.log(data);
      },
      failure: function(errMsg) {
          alert(errMsg);
          console.log(errMsg);
      }
    });
  }

  function tick() {
    loadContextChildren($.urlParam('c'), $.urlParam('k'));
    console.log("Tick");
    setTimeout(function() {tick();}, 5000);
  }

/*
  // Functions to slow down network traffic when window is not in use (idle)
  $(window).focus(function() {
    // Window is in focus
    //if (!interval_id)
    //  interval_id = setInterval(hard_work, 1000);
  });

  $(window).blur(function() {
    // Not in focus
    //clearInterval(interval_id);
    //interval_id = 0;
  });
*/

  // INIT
  if(!loadAndValidateUser()) {
    setView('setUser');
  }
  else {
    if(hasContextKey()) {
      loadContext();  // Sets view and starts tick loop
    }
    else {
      setView('setContext');
    }
  }


</script>
</body>
</html>
