<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

  <style>
  body {
    font-family: Verdana;
  }
    #board {
      position: absolute;
      width: 800px;
      height: 600px;
      background-color: #DDD;
    }
    #trash {
      position: absolute;
      background-color: red;
    }
    .node {
      position: absolute;
      margin: 5px;
      width: 140px;
      height: auto;
      border: 1px solid grey;
      background-color: #f2e088;
      padding: 4px;
      font-size: 12px;
      box-shadow: 2px 2px 2px 2px #ccc;
    }
  </style>
</head>

<body>
<div id="setUser">
  <div class="title">Set user</div>
  <span class="label">Name</span> <input id="uname" type="text" name="uname" />
  <span class="label">UUID</span> <input id="uuid" type="text" name="uuid" />
  <input type="button" value="OK" onclick="void(setUser());" />
</div>
<div id="setContext">
  <div class="title">Enter context</div>
  <!-- Creating -->
  <span class="label">Title</span> <input id="cname" type="text" name="cname" />
  <span class="label">UUID</span> <input id="cuuid" type="text" name="cuuid" />

  <!-- Should probably be a select list -->
  <span class="label">Theme</span> <input id="ctheme" type="text" name="ctheme" />
</div>
<div id="context">

  <div id="toolbar"><span class="title">Context</span> <a href="#" onclick="void(addBlankNode());">New note</a></div>
  <div id="board">&nbsp;</div>
  <div id="trash">This is the trash div</div>
</div>

<script type="text/javascript">
  // Move this to separate file
  // TODO: this function is not stable, 15 or 16 chars
  //var uniqueId = Math.random().toString(36).substring(2)
  //             + (new Date()).getTime().toString(36).substring(3, 11);
  //$('#uuid').val(uniqueId);
  colors = new Array("#f4e542", "#f4b241", "#d0f441", "#bafcff", "#e7d7f4", "#edbdce", "#cec0c0", "#fc906c", "#c4a338", "#91b527", "#4bdb3b", "#57e09b", "#2fa7b5", "#2f66b5", "#662fb5", "#ce34d1", "#d1336a");

  tickTime = {'sleep': -1, 'low': 10000, 'med': 1000, 'high': 250};
  tickSel = 'high';

  gNodeData = new Array();
  gContext = null;
  gCooldown = new Array();

  $.urlParam = function (name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                        .exec(window.location.search);
      return (results !== null) ? results[1] || 0 : false;
  }

  function setView(view) {
    views = new Array("setUser", "setContext", "context");

    for(i = 0; i < views.length; i++) {
      v = views[i];
      $("#" + v).hide();
    }

    $("#" + view).show();
    // TODO:
    //
    //
  }

  function setUser() {
    name = $('#uname').val().trim();
    key = $('#uuid').val().trim();

    if(name != "" && key != "") {
      localStorage.setItem("user.name", name);
      localStorage.setItem("user.key", key);
      localStorage.setItem("user.color", "#999999");
      setView("setContext");

      return true;
    }

    return false;
  }

  function loadAndValidateUser() {
    name = localStorage.getItem("user.name");
    key =  localStorage.getItem("user.key");

    if(name && key && name != "" && key != "")
      return true;

    return false;
  }

  function getUserName() {
    return localStorage.getItem("user.name");
  }
  function getUserKey() {
    return localStorage.getItem("user.key");
  }

  function getUserColor() {
    return localStorage.getItem("user.color");
  }

  function getPid() {
    return $.urlParam('c')
  }

  function getCtxKey() {
    return $.urlParam('k')
  }

  function hasContextKey() {
    ctx = $.urlParam('c');
    key = $.urlParam('k');

    return (key != false && ctx != false);
  }

  function cool(id, cnt) {
    for(i = 0; i < cnt; i++)
      gCooldown.push(id);
  }

  function isCool(id) {
    return (gCooldown.indexOf(id) == -1);
  }


  function loadContext() {
    ctx = $.urlParam('c');
    key = $.urlParam('k');

    $.ajax({
      url: '/retro/node/' + ctx + '?s=' + key,
      dataType: 'json',
      cache: false
    }).done(function(data){
      res = data['result'];
      if(res == 200) {
        // Validate board
        // TODO: are we admin - do we have admins? (MVP)
        //$("#debug").text(JSON.stringify(data['json']));
        gContext = data;

        jc = joinContext();

        if(jc['updateNeeded']) {
          // Post context with changes
          storeContext();
        }

        loadContextChildren(ctx, key);

        setView('context');
        tick();
      }
      else {
        console.log('Error in loadContext');
        console.log(data);
      }
    });
  }

  function loadContextChildren(ctx, key) {
    $.ajax({
      url: '/retro/node/' + ctx + '/children?s=' + key,
      dataType: 'json',
      cache: false
    }).done(function(data){
      res = data['result'];
      if(res == 200) {
        cList = data['json'];
        //console.log(cList);
        //console.log(cList.length);
        for(i = 0; i < cList.length; i++) {
          createOrUpdateNode(cList[i]['id'], cList[i])
        }
      }
      else {
        console.log('Error in loadContextChildren');
        console.log(data);
      }
    });
  }

  function joinContext() {
    // gContext;
    uKey = getUserKey();
    uNam = getUserName();
    found = false;
    seq = null;
    upd = false;

    if(!("users" in gContext["json"]) || gContext["json"]["users"].length == 0) {
      gContext["json"]["users"] = new Array();
      // First user added is always the creator ("admin")
    }
    for(i = 0; i < gContext["json"]["users"].length; i++) {
      u = gContext["json"]["users"][i];
      if(u["key"] == uKey) {
        // Already joined, get the values
        found = true;
        seq = i;
      }
    }

    if(!found) {
      seq = gContext["json"]["users"].length;
      gContext["json"]["users"].push({'key': uKey, 'name': uNam, 'color': colors[seq]});
      localStorage.setItem("user.color", colors[seq]);
      upd = true;
    }

    return {'seq': seq, 'updateNeed': upd};
  }

  function createOrUpdateNode(id, json) {
    if(id in gNodeData) {
      // UPDATE, TODO: check what has changed, poor implementation now
      changes = nodeChangeType(id, json);
      //console.log("changes");
      //console.log(changes);
      for(j = 0; j < changes.length; j++) {
        //console.log("change " + j + " " + changes[j]);
        if(changes[j] == "pos" && !isCool(id)) {
          //console.log(json['json']['pos']);
          $('#node_' + id).animate({
            'top': (json['json']['pos']).top,
            'left': (json['json']['pos']).left
          }, 200);
          //$('#node_' + id).offset(json['json']['pos']);
          console.log(id + " pos changed, FROM: " + JSON.stringify(gNodeData[id]['json']['pos']) + " TO:" + JSON.stringify(json['json']['pos']));
          gNodeData[id]['json']['pos'] = json['json']['pos'];
        }
        if(changes[j] == "text") {
          console.log(id + " text changed, FROM:" + gNodeData[id]['json']['text'] + " TO:" + json['json']['text']);
          $('#node_' + id).text(json['json']['text']);
          gNodeData[id]['json']['text'] = json['json']['text'];
        }
      }
    }
    else {
      console.log("new");
      gNodeData[id] = json;
      drawNode(json);
    }
  }

  function nodeChangeType(id, newJson) {
    changes = new Array();
    oldJson = gNodeData[id];
    //if(oldJson['type'] != newJson['type'])
    //  changes.push("type");
    if(parseInt(oldJson["json"]['pos'].left) != parseInt(newJson["json"]['pos'].left))
      changes.push("pos");
    else if(parseInt(oldJson["json"]['pos'].top) != parseInt(newJson["json"]['pos'].top))
        changes.push("pos");
    if(oldJson["json"]['text'].trim().localeCompare(newJson["json"]['text'].trim()) != 0)
        changes.push("text");

    return changes;
  }

  function addBlankNode() {
    $.ajax({
      type: "POST",
      url: "/retro/node/0?s=" + getCtxKey(),
      data: JSON.stringify({'pid': getPid(), 'type': 'note', 'json': {'color': getUserColor()}}),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        console.log(data);
      },
      failure: function(errMsg) {
          console.log("Error in adding note");
          console.log(errMsg);
      }
    });
  }

  function drawNode(json) {
    id = ("id" in json ? json["id"] : "0");
    nClass = ("class" in json["json"] ? json["json"]["class"] : "node");
    text = ("text" in json["json"] ? json["json"]["text"] : "Write here...");
    pos = ("pos" in json["json"] ? json["json"]["pos"] : {left: 100, top: 100});
    style = ("color" in json["json"] ? "background-color: " + json["json"]["color"] : "");

    $("#board").append("<div id=\"node_" + id + "\" style=\"" + style + "\" class=\"" + nClass + "\" contenteditable=\"true\">" + text + "</div>");
    $("#node_" + id).offset(pos);

    $("#node_" + id).draggable({
      //grid: [10, 10],
      stop: function(event, ui) {
        cid = this.id.split("_")[1];
        pos = $('#node_' + cid).offset();
        cool(cid, 2); // Stop it from beeing moved for two ticks
        gNodeData[cid]["json"]["pos"] = {left: parseInt(pos.left), top: parseInt(pos.top)};
        storeNode(cid);
      }
    });
    $("#node_" + id).on('blur', function(event, ui) {
      cid = this.id.split("_")[1];
      nText = $("#node_" + cid).text().trim();
      // Check if text has changed
      if(gNodeData[cid]["json"]['text'].trim().localeCompare(nText) != 0) {
        gNodeData[cid]["json"]['text'] = nText;
        storeNode(cid);
      }
    });
  }

  function storeNode(id) {
    node = $("#node_" + id);
    nClass = $(node).attr('class');
    text = $(node).text();
    created = getUserKey();
    pos = {left: parseInt($(node).offset().left), top: parseInt($(node).offset().top)};


    postJson = {'json': {'class': nClass, 'text': text, 'user': created, 'pos': pos}};

    $.ajax({
      type: "POST",
      url: "/retro/node/" + id + "?s=" + getCtxKey(),
      data: JSON.stringify(postJson),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        console.log(data);
      },
      failure: function(errMsg) {
          console.log("Error in storeNode");
          console.log(errMsg);
      }
    });
  }

  function storeContext() {
    $.ajax({
      type: "POST",
      url: "/retro/node/" + getPid() + "?s=" + getCtxKey(),
      data: JSON.stringify(gContext),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        console.log(data);
      },
      failure: function(errMsg) {
          console.log("Error in storing context");
          console.log(errMsg);
      }
    });
  }

  function tick() {
    t = tickTime[tickSel];

    gCooldown.pop();

    if(t == -1) {
      // Stop the looping
    }
    else {
      loadContextChildren($.urlParam('c'), $.urlParam('k'));
      setTimeout(function() {tick();}, t);
    }
  }

/*
  // Functions to slow down network traffic when window is not in use (idle)
  $(window).focus(function() {
    // Window is in focus
    //if (!interval_id)
    //  interval_id = setInterval(hard_work, 1000);
  });

  $(window).blur(function() {
    // Not in focus
    //clearInterval(interval_id);
    //interval_id = 0;
  });
*/

  // INIT
  if(!loadAndValidateUser()) {
    setView('setUser');
  }
  else {
    if(hasContextKey()) {
      loadContext();  // Sets view and starts tick loop
    }
    else {
      setView('setContext');
    }
  }


</script>
</body>
</html>
